.sidebar {
    z-index: 9999;
}

.card {
  width: 60%;
}

.curd {
    display:flex;
    justify-content:center;
    align-items:center;
}

.responsive-card-table {
    border-collapse: collapse;
  }
  
  .responsive-card-table.unstriped tbody {
    background-color: transparent;
  }
  
  .responsive-card-table th {
    background-color: #e6e6e6;
    padding: 16px
  }
  
  .responsive-card-table tr,
  .responsive-card-table th,
  .responsive-card-table td {
    padding: 10px;
  }
  
  @media screen and (max-width: 640px) {

    .responsive-card-table thead tr {
      position: absolute;
      top: -9999em;
      left: -9999em;
    }
    .responsive-card-table tr {
      display: block;
    }
    .responsive-card-table tr + tr {
      margin-top: 1.5rem;
    }
    .responsive-card-table td {
      border: none;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding-left: 50%;
      position: relative;
      
    }
    .responsive-card-table td:before {
      content: attr(data-label);
      display: inline-block;
      font-weight: bold;
      text-overflow: ellipsis;
      line-height: 3;
      margin-left: -100%;
      width: 100%;
      position: relative;
      z-index: 1;
    }
    .responsive-card-table td:after {
      content: '';
      position: absolute;
      background: #e6e6e6;
      width: 45%;
      height: 95%;
      left: 1px;
      top: 1px;
      z-index: 0;
    }
  }
  
  @media only screen and (max-width: 1033px) {
    .card  {
        margin-top: 60px;
        
    }
    .box {
        margin-top: 100px;
    }
  }

  @media only screen and (max-width: 640px) {
    .box {
        margin-top: 100px;
    }
    .buttons {
      display: flex;
      text-align: center;
      justify-content: center;
    }
    

  }

  @media only screen and (max-width: 400px) {
    .card {
        margin-top: 50px;
    }
    .box {
        margin-top: 200px;
    }
    .responsive-card-table td {
      font-size: 14px;
    }
  }

  @media only screen and (max-width: 360px) {
    .responsive-card-table td {
      padding-left: 48%;
    }
  }

  